<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataSource" value=".\SQLExpress"/>
    <add key="Catalog" value="FUBON_DLP" />
    <add key="DbUser" value="fubon_dlp"/>
    <add key="DbPassword" value="RUA3Pj47etXw1lVZOApmhA=="/>

  </appSettings>
</configuration>